<h1>Drinks</h1>
<br />
<p>
  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#drinks-form" aria-expanded="false" aria-controls="drinks-form">
    Add more drinks
  </button>
</p>
<div class="collapse" id="drinks-form">
  <h2>Add more</h2>
  <%- include('./partials/drinks-form.ejs', { query: '?historical=true' }) %>
</div>
<br />
<br />
<h2>Historical Data</h2>
<div id="history"></div>
<p><b>Current daily average:</b>&nbsp;<%= averageDrinks %></p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Drinks</th>
      <th scope="col" />
    </tr>
  </thead>
  <tbody>
    <% drinks.forEach(function(drink) { %>
      <tr>
        <th scope="row"><%= drink.date %></th>
        <td><%= drink.count %></td>
        <td><a href="/drinks/<%= drink.date %>" class="btn btn-sm btn-link" style="line-height: 1;">Edit</a></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  Plotly.newPlot('history', JSON.parse('<%- plotData %>'), JSON.parse('<%- plotLayout %>'), { responsive: true, displayModeBar: false });
</script>
